version: '3.9'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - ENVIRONMENT=development
      - FLASK_ENV=development  # デバッグモードを有効にする
    depends_on:
      - db

  db:
    image: postgres:15.5
    ports:
      - "5432:5432"
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:

